<% provide(:title, @user.name) %>
<div class="row">
  <div class="span6">
    <div><%= gravatar_for(@user) %></div>
    <div><%= @user.name %></div>
    <div><%= @user.email %></div>
    <div><%= @user.phone %></div>
    <div><%= @user.address %></div>
  </div>
</div>
