<% provide(:title, 'New Product') %>
<h1>New Product</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@product) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :price %>
    <%= f.number_field :price %>
    <%= f.label :category_id %>
    <%= f.select :category_id, Category.all.collect {|n| [n.name, n.id] } %>
    <%= f.submit "Create new product", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>